/* @import "tailwindcss/base"; */
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Roboto", sans-serif;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
.nugget {
  display: flex;
  min-height: 100vh;
}

h2 {
  font-size: 20px;
  line-height: 20px;
  margin: 17px 0px 17px 0px;
}

h4 {
  font-size: 16px;
  line-height: 30px;
}

.input-text {
  width: 51%;
  height: 65px;
  border-color: #b3b3b3;
  border-radius: 13px;
  border-style: solid;
}

.drop-down-bar {
  width: 75px;
  margin: 0px 5px;
  font-size: 12px;
  height: 39px;
}

.input-suffix-prefix {
  width: 35px;
  height: 39px;
  border: 1px solid #b3b3b3;
  border-radius: 6px;
}

.create-nugget > button {
  height: 48px;
  width: 132px;
  background-color: #5a4bda;
  border-radius: 6px;
  color: white;
  right: 23px;
  position: absolute;
  border: 1px;
}
.HeadingOption-IconOption {
  display: flex;
  justify-content: space-between;
}

.create-nugget {
  width: 70vw;
  position: relative;
  background-color: #fff9f9;
}

.preview {
  width: 30vw;
  background-color: #5a4bda0a;
  padding: 10px;
}

.preview img {
  max-width: 100%; 
  height: 100%;
}
.image-width img{
  max-width: 100%;
  height: 100%
}
.AddNuggetCategory {
  width: 144px;
  margin: 0px 5px;
  height: 39px;
}

.select-dropdown {
  display: flex;
  padding: 5px;
}

.AddNugget {
  border-top: 5px solid #5a4bda;
}

.card-header {
  background-color: white;
  border-right: 1px solid #5a4bda;
  border-bottom: 1px solid #5a4bda;
  border-left: 1px solid #5a4bda;
  padding: 10px;
  margin-top: 32px;
  width: 62vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.NuggetId {
  border-top: 1px solid #5a4bda;
}

.XpTimer {
  border-top: 1px solid #5a4bda;
}

.add-section {
  border-top: 1px solid #5a4bda;
  position: relative;
}

.NuggetIdOption {
  font-size: 14px;
  line-height: 45px;
  color: #606160;
}

.cards-parent {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.XP {
  display: flex;
  align-items: center;
}

.XP-timer-bar{
  z-index: 99;
}

.timer {
  margin-left: 32px;
  display: flex;
  align-items: center;
}

.timer>select{
  z-index: 9999;
}

.xp-timer-p {
  font-size: 19px;
  line-height: 19px;
  font-style: italic;
  font-family: system-ui;
}

.XP-timer {
  display: flex;
}

.XP-timer-P {
  font-size: 14px;
  line-height: 22px;
  color: #3d3d3d;
}

.add-section-button {
  margin-right: 23px;
  background-color: #5a4bda;
  color: #ffffff;
  height: 32px;
  width: 91px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  border-radius: 5px;
  border: 1px;
}

.subcard-addSection {
  border: 1px;
  margin-top: 9px;
  background-color: #5a4bda;
  color: #ffffff;
  height: 32px;
  width: 91px;
  font-size: 12px;
  line-height: 18px;
  border-radius: 5px;
}

.title-input {
  display: flex;
  align-items: center;
}

.image-type-input {
  margin-left: 18px;
  height: 30px;
  width: 70%;
  border: 1px solid #cccccc;
  border-radius: 6px;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 119px;
  width: 71%;
  height: 264px;
  border: 1px solid #cccccc;
}

.input-icon {
  /* position: absolute; */
  top: 0;
  left: 0;
  bottom: 0;
  width: 20px;
  background-image: url("/icon-upload.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* .NuggetIdOption>label{
    border-radius: 10px;
    border-color: #DCDCDC;
    border: 1px solid;
    padding: 5px;
} */

/* Drop down icon */

.dropdown {
  width: 30%;
}

.dropdown-toggle {
  border: 1px solid #b3b3b3;
  align-items: center;
  border-radius: 4px;
  height: 29px;
  padding: 5px;
  display: flex;
  width: 29%;
}

.dropdownHeader {
  display: flex;
  align-items: center;
}

.dropdownHeader > img {
  margin-right: 8px;
}

.dropdownText {
  color: #999;
}

.label-option {
  border: 1px solid #dcdcdc;
  padding: 6px;
  border-radius: 7px;
  margin: 0 4px;
  white-space: pre;
}

.icon-list {
  position: absolute;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
  height: 130px;
  overflow-y: scroll;
  margin-top: 5px;
  z-index: 99;
  background-color: white;
}

.icon-list>input{
  visibility: hidden;
  width: 0;
  height: 0;
}

.icon-list>label{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  background-color: white;
  display: grid;
  margin-top: 5px;
  grid-template-columns: repeat(8, 1fr);
}

.icons {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.icons > img {
  margin-right: 2px;
}

.icon-upload {
  background-color: white;
  width: 96%;
}

.textEditor-addButton {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

.video-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.image-nugget {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

.NuggetInfo-iconHeadertitle {
  display: flex;
  align-items: center;
}

.Info {
  margin-bottom: 31px;
}

.sideNote {
  justify-content: space-between;
  margin-top: 18px;
}

.bullet-color {
  top: 76px;
  position: absolute;
  border: 1px solid #b3b3b3;
  padding: 5px;
  border-radius: 8px;
}

.bullet-color > label {
  margin-right: 10px;
  font-size: 14px;
  line-height: 17px;
}
/* .tox-statusbar__branding{
    display: flex;
} */

/* Preview  */

.prev-sticky {
  position: sticky;
  top: 5px;
}

.prev-sticky > h2 {
  text-align: center;
}
.headerimage-headertitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerimage-headertitle > h4 {
  color: #5e6166;
  margin-left: 14px;
  margin-top: unset;
  margin-bottom: unset;
}

.ImagePrev {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImagePrev > img {
  width: 96%;
  border-radius: 13px;
}

.ImagePrev > iframe {
  height: 259px;
  width: 96%;
}

.ImagePrev > p {
  width: 84%;
  overflow-wrap: break-word;
  color: #666666;
  text-align: center;
}

.h1-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.h1-title > h1 {
  margin-left: 17px;
  margin-top: unset;
  margin-bottom: unset;
  color: #5e6166;
}

.h2Prev {
  margin-left: 17px;
  margin-top: unset;
  margin-bottom: unset;
  color: #5e6166;
}

.TFOption {
  border: 0.5px solid #b3b3b3;
  border-radius: 4px;
  padding: 9px;
  width: 74%;
  margin-bottom: 18px;
}

.TrueFalseOption > h4 {
  font-size: 13px;
  line-height: 20px;
}

.TrueFalseOption {
  display: flex;
  margin: 10px 0 40px 5px;
}

.TrueFalseOption > label {
  align-items: center;
  display: flex;
}
.TFPrev {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}
.TFOptionPrev {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  stroke: black;
  border-radius: 10px;
  background-color: #fffaf7;
  margin-bottom: 15px;
  display: flex;
  flex: 1;
  margin-right: 13px;
}
.scq-option-prev{
  justify-content: space-between; 
}

.TFOptionPrev>p{
  display: flex;
}
.TFOptionPrev > div {
  border-radius: 50%;
  height: 11px;
  width: 11px;
  border: 1px solid black;
  margin-right: 10px;
  background-color: white;
}

.Submit-prev {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
  box-shadow: rgba(50, 50, 93, 0.25) 2px 2px 0px 0px;
}

.prev-color {
  background-color: #fffaf7;
}

.prev-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #7b7f86;
}

.Hint-Prev-box {
  border: 1px dashed #b28d72;
  margin-top: 26px;
}

.Hint-Prev-box > h4 {
  background-color: #fffaec;
  margin-left: 2px;
  padding: 5px 0px 0px 11px;
}

.Hint-Prev-box > p {
  font-size: 14px;
  line-height: 22px;
  padding: 8px;
}

.option-editor{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 8px;
  border-color: #CCCCCC;
  padding: 5px;
  margin-top: 7px;
}

/* .TrueFalseNugget>h4{
    Font-size: 20px;
    Line-height: 30px;
} */

//Edit Nuggets

.ediit{
  background-color: black;
}

.edit-label{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 4px 0px;
  width: 70vw;
  margin: 5px 0 5px 10px;
  padding: 10px;
}
.edit-Nugget-div-label{
  display: flex;
  justify-content: space-between;
}

.edit-Nugget-div-label>p{
  font-style: oblique;
  font-weight: bold;
}

.edit-Nugget-div-label>div>img{
  padding: 5px
}

.edit-nugget-category{
  display: flex;
  align-items: center;
}

.edit-nugget-category>button{
  height: 30px;
    width: 70px;
    background-color: #5a4bda;
    border-radius: 6px;
    color: white;
    border: 1px;
}

.edit-nugget-prev{
  width: 30vw;
}

.edit-delete-button{
  all: unset;
  padding: 10px;
  cursor: pointer;
}

.fib-option-editor{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fib-card-header{
  margin-top: 32px;
}

.fib-card{
  background-color: white;
  border-right: 1px solid #00000038;
  border-bottom: 1px solid #00000038;
  border-left: 1px solid #00000038;
  padding: 10px;
  margin-top: 32px;
  width: 62vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-top: 1px solid #00000038;
  position: relative;
}

.other-option-button{
  all: unset;
    cursor: pointer;
    box-shadow: rgb(35 38 49 / 12%) 0px 9px 17px 0px;
    margin: 14px 0;
    width: 161px;
    display: block;
    height: 44px;
    color: #333333;
    padding-left: 10px;
}

.SCQPrev{
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.fib-header{
  background-color: #FFFBEF;
  display: flex;
  flex-flow: wrap;
  padding: 5px;
}

.fib-header>p{
  margin-right: 9px;
  margin-top: 5px;
}

.fib-blank-type{
  background-color: #FFFFFF;
  border-style: dashed;
  border-color: #B28D72;
}

.fib-prev-header{
  background-color: #FFFBEF;
}

.fib-prev-header>h2{
  font-size: 17px;
    margin: 5px 0;
    line-height: 21px;
}

.img-input{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-upload>input{
  visibility: hidden;
  width: 0;
  height: 0;
}

.AudioPrev>audio{
  width: 95%;
}

.pre-suff-val-prev{
  display: flex;
}